<section class="container">
    
    <div class="row front-page-cta-wrapper">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                Advertising is telling the world how great you are, while publicity is having others tell the world how great you are.
                Companies and organizations that understand the importance of publicity are generally more succesful than those who use
                advertising alone to reach their target audiences.
            </p>

            <div class="front-page-cta-btn-wrapper">

                <div class="front-page-cta-btn-icon"></div>

                <div class="front-page-cta-btn-txt">
                    <p>CONTACT</p>
                </div>

            </div>

        </div>
    </div>
</section>